html, body {
  position: relative;
  height: 100%; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.btn-login {
  width: 100px; }

.divCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.welcome_1st {
  position: relative;
  background: url("/images/welcome_bg_001.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center; }
  .welcome_1st h1 {
    font-size: 5em;
    color: white; }

.welcome_padding {
  height: 100px;
  background-color: #155A7F; }

.welcome_about {
  position: relative;
  height: 200px; }

.map_left_tmp {
  width: 320px; }

.submenuDiv {
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1;
  text-align: center;
  height: 20px; }
  .submenuDiv .submenu {
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px; }
  .submenuDiv .post {
    background-color: tomato; }

.map_inactive {
  top: 52px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  transition: left, 1s; }

.map_active {
  top: 52px;
  bottom: 0;
  position: absolute;
  left: 320px;
  right: 0;
  transition: left, 1s; }

.side_inactive {
  position: absolute;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: width, 1s; }

.side_active {
  position: absolute;
  left: 0;
  top: 52px;
  bottom: 0;
  width: 320px;
  overflow-y: scroll;
  transition: width, 1s; }

.btn-close {
  line-height: 10px;
  position: absolute;
  left: 295px;
  top: 5px;
  padding: 3px;
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px; }

.ng_new {
  overflow: auto; }
  .ng_new .container-fluid {
    overflow: auto; }
  .ng_new .my_ig_pic_con {
    padding: 6px;
    text-align: center; }
  .ng_new .my_ig_pics {
    cursor: pointer;
    width: 100%; }
  .ng_new .my_ig_pic_con_hidden {
    display: none;
    transition: width, 1s; }
  .ng_new .my_ig_pic_con_selected {
    width: 100%;
    transition: width, 1s; }
  .ng_new .steps {
    margin: 10px 0; }
  .ng_new .step1 {
    height: 300px; }
  .ng_new .row {
    margin-left: -5px;
    margin-right: -5px; }
  .ng_new input {
    display: inline-block; }
  .ng_new .text {
    width: 79%; }
  .ng_new input[type="submit"] {
    width: 19%; }
  .ng_new .destination {
    display: block;
    width: 100%; }
  .ng_new .btns {
    padding: 10px;
    text-align: center; }
  .ng_new .thanks {
    text-align: center; }
  .ng_new .thanks_ballooon {
    margin: 20px 0;
    width: 100%; }

.ng_show .detail_inactive {
  display: none; }

.ng_show .detail_active {
  text-align: left;
  padding: 10px; }

.ng_show .btn-detail {
  padding-top: 3px;
  padding-bottom: 3px; }

.ng_show .title {
  padding-left: 15px;
  padding-right: 30px; }

.ng_show .text-center {
  position: relative;
  text-align: center; }

.ng_show .no-padding {
  padding: 0; }

.ng_show .no-margin {
  margin: 0; }

.ng_show .profile_div {
  margin-top: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #F9f9f9;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px; }

.ng_show .profile_pic {
  width: 30px;
  border: 2px solid gray;
  border-radius: 50%; }

.ng_show .ig_pic {
  width: 100%; }

.ng_show .data_div {
  padding-top: 10px; }
  .ng_show .data_div h5 {
    margin: 0;
    display: inline-block; }
  .ng_show .data_div .col-xs-12 {
    padding-top: 5px; }
  .ng_show .data_div .ig_btn {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }
