$break-small: 600px;

html, body{
  position: relative;
  height: 100%;
}
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}
.btn-login{
  width: 100px;
}
.divCenter{
  position: absolute;
  left:50%;
  top:50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcome_1st{
  position: relative;
  background: url("/images/welcome_bg_001.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  h1{
    font-size: 5em;
    color: white;
  }
}
.welcome_padding{
  height: 100px;
  background-color: #155A7F;
}
.welcome_about{
  position: relative;
  height: 200px;
}
.map_left_tmp{
  width:320px;
}


.submenuDiv{
  width: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  .submenuDisplay{
    display: inline-block;
  }
  .submenu{
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
  }
  .post{
    background-color: tomato;
  }
}
.map_inactive{
  top:52px;
  bottom:0;
  position: absolute;
  left:0;
  right:0;
  transition: left, 1s;
}
.map_active{
  top:52px;
  bottom:0;
  position: absolute;
  left:320px;
  right:0;
  transition: left, 1s;
}

.side_inactive{
  position: absolute;
  left:0;
  width:0;
  overflow: hidden;
  transition: width, 1s;
}
.side_active{
  position: absolute;
  left:0;
  top:52px;
  bottom:0;
  width:320px;
  overflow-y: scroll;
  transition: width, 1s;
}
.btn-close {
  line-height: 10px;
  position: absolute;
  left: 295px;
  top: 5px;
  padding: 3px;
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.ng_new{
  .container-fluid{
    overflow: auto;
  }
  overflow: auto;
  .my_ig_pic_con{
    padding: 6px;
    text-align: center;
  }
  .my_ig_pics{
    cursor: pointer;
    width: 100%;
  }
  .my_ig_pic_con_hidden{
    display: none;
    transition: width, 1s;
  }
  .my_ig_pic_con_selected{
    width: 100%;
    transition: width, 1s;
  }
  .steps{
    margin: 10px 0;
  }
  .step1{
    min-height:300px;
  }
  .row{
    margin-left: -5px;
    margin-right: -5px;
  }
  input{
    display: inline-block;
  }
  .text{
    width: 79%;
  }
  input[type="submit"]{
    width: 19%;
  }
  .destination{
    display: block;
    width:100%;
  }
  .btns{
    padding: 10px;
    text-align: center;
  }
  .thanks{
    text-align: center;
  }
  .thanks_ballooon{
    margin: 20px 0;
    width: 100%;
  }
}
.ng_show{
  .detail_inactive{
    display: none;
  }
  .detail_active{
    text-align: left;
    padding: 10px;
  }
  .btn-detail{
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .title{
    padding-left: 15px;
    padding-right: 30px;
  }
  .text-center{
    position: relative;
    text-align: center;
  }
  .no-padding{
    padding:0;
  }
  .no-margin{
    margin:0;
  }
  .profile_div{
    margin-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: #F9f9f9;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profile_pic{
    width:30px;
    border: 2px solid gray;
    border-radius: 50%;
  }
  .ig_pic{
    width:100%;
  }
  .data_div{
    padding-top: 10px;
    h5{
      margin: 0;
      display: inline-block;
    }
    .col-xs-12{
      padding-top: 5px;
    }
    .ig_btn{
      margin: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
@media screen and (max-width: 900px) {
  .submenuDiv{
    text-align: right;
    .submenuDisplay{
      display: block;
      text-align: right;
    }
  }
}
@media screen and (max-width: 500px) {
  .submenuDiv{
    text-align: center;
    .submenuDisplay{
      display: inline-block;
      text-align: center;
    }
  }
  .btn-close {
    top: 60px;
    right: 10px;
    left:auto;
  }
  .map_left_tmp{
    overflow: auto;
    margin-top:50px;
    width:100%;
  }
  .map_inactive{
    top:0;
    position: relative;
    left:auto;
    height: 500px;
    width: 100%;
  }
  .map_active{
    top:0;
    position: relative;
    left:auto;
    height: 500px;
    width: 100%;
  }
  .side_inactive{
    top:0;
    height:0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .side_active{
    top:0;
    position: relative;
    width: 100%;
  }
}
