html, body{
  position: relative;
  height: 100%;
}
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}
.btn-login{
  width: 100px;
}
.divCenter{
  position: absolute;
  left:50%;
  top:50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcome_1st{
  position: relative;
  background: url("/images/welcome_bg_001.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  h1{
    font-size: 5em;
    color: white;
  }
}
.welcome_padding{
  height: 100px;
  background-color: #155A7F;
}
.welcome_about{
  position: relative;
  height: 200px;
}
.map_left_tmp{
  width:320px;
}
.submenuDiv{
  text-align: center;
  height:20px;
  .submenu{
    display: inline-block;
    padding: 0 20px;
    height: 20px;
  }
  .post{
    background-color: tomato;
  }
}
.map_inactive{
  position: absolute;
  left:0;
  right:0;
  transition: left, 1s;
}
.map_active{
  position: absolute;
  left:320px;
  right:0;
  transition: left, 1s;
}
.side_inactive{
  position: absolute;
  left:0;
  width:0;
  overflow: hidden;
  transition: width, 1s;
}
.side_active{
  position: absolute;
  left:0;
  width:320px;
  overflow: hidden;
  transition: width, 1s;
}
