<div class="map_left_tmp ng_show">
  <div class="text-center">
    <h4 class ="title">{{mapCtrl.igPic.status}} "{{mapCtrl.igPic.balloon.title}}"</h4>
      <div ng-class="mapCtrl.igPic.detailBtnClass" ng-click="mapCtrl.igShowDetailToggle()">
        See balloon details
      </div>
      <div ng-class="mapCtrl.igPic.detailClass">
        <p><label>Created at</label> {{mapCtrl.igPic.created_at}}</p>
        <p ng-if="!mapCtrl.igPic.arrived"><label>Flying for</label> <span id="liveTravelingTime">{{mapCtrl.igPic.travelTime}}<span></p>
        <p ng-if="mapCtrl.igPic.arrived"><label>Arrived at</label> {{mapCtrl.igPic.arrived_at}}</p>
        <p ng-if="mapCtrl.igPic.arrived"><label>Flew for</label> {{mapCtrl.igPic.travelTime}}</p>

      <div class="text-center">
        <div class="btn btn-default btn-detail" ng-click="mapCtrl.igShowDetailToggle()">
          Close details
        </div>
        <div ng-if="mapCtrl.igPic.deletable" class="btn btn-danger btn-detail" ng-click="mapCtrl.deleteBalloon()">
          Pop it
        </div>
      </div>
      </div>
  </div>
  <div class="row no-margin profile_div">
    <div class="col-xs-2 no-padding text-center">
      <img ng-src="{{mapCtrl.igPic.ig.user.profile_picture}}" class="profile_pic divCenter">
    </div>
    <div class="col-xs-10 no-padding">
      <h5><a ng-href="https://instagram.com/{{mapCtrl.igPic.ig.user.username}}/" target="_blank">{{mapCtrl.igPic.ig.user.username}}</a></h5>
    </div>
  </div>
  <img ng-src="{{mapCtrl.igPic.ig.images.low_resolution.url}}" class="ig_pic" />
  <div class="container-fluid">
    <div class="row data_div">
      <div class="col-xs-12">
        {{mapCtrl.igPic.ig.likes.count}} likes
      </div>
      <div class="col-xs-12">
        <h5>{{mapCtrl.igPic.ig.user.username}}</h5> {{mapCtrl.igPic.ig.caption.text}}
      </div>
      <div class="col-xs-12" ng-repeat="comment in mapCtrl.igPic.ig.comments.data">
        <h5>{{comment.from.username}}</h5> {{comment.text}}
      </div>
      <div class="col-xs-12 text-center">
        <a ng-href="{{mapCtrl.igPic.ig.link}}" target="_blank"class="btn btn-primary ig_btn">View on Instagram</a>
      </div>
    </div>
  </div>
    <div class="btn btn-close" ng-click="mapCtrl.closeLeftPanel()">
      x
    </div>
</div>
